<h1>Contact</h1>
<form method="post" action="/contactprocess">
    No1 : <input type="number" name="txt1" placeholder="Enter No1" required/>
    No2 : <input type="number" name="txt2" placeholder="Enter No2" required/>
    <input type="submit"/>
</form>