<h2>Login</h2>
<form method="post" action="/registrationprocess" >
    Name : <input type="text" name="txt1"/>
    Email :<input type="text" name="txt2"/>
    Mo :<input type="text" name="txt3"/>
    password :<input type="text" name="txt4"/>

</form>